APP_UPLOAD_DIR=./uploads
APP_FRONTEND_ORIGIN=http://localhost:3000

# Security (Change in production!)
APP_JWT_SECRET=super-secret-key-for-jwt-generation-which-must-be-long-enough
APP_JWT_EXPIRATION_MS=86400000

# Admin Seed User (Development only)
APP_ADMIN_SEED_ENABLED=true
APP_ADMIN_USERNAME=admin
APP_ADMIN_EMAIL=admin@ankarapethouse.com
APP_ADMIN_PASSWORD=admin

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5434/ankara_pet_house
SPRING_DATASOURCE_USERNAME=ankara_pet_house
SPRING_DATASOURCE_PASSWORD=ankara_pet_house
